<ion-header>
  <ion-toolbar>
    <ion-title>CreamVentas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label>¿Qué deseas hacer?</ion-label>
<br>
  <ion-button [routerLink]="['/show']" routerLinkActive="router-link-active" >Mirar las facturas</ion-button>
  <ion-button [routerLink]="['/create']" routerLinkActive="router-link-active" >Registrar una factura</ion-button>
</ion-content>

<ion-button [routerLink]="['/Sesion']" routerLinkActive="router-link-active" >LogOut</ion-button>
